body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000000d2;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    z-index: 1;
    box-shadow: 0 1px 3px 0 rgba(243, 255, 243, 0.875);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand,
  nav a {
    font-size: 20px; 
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: rgb(40, 3, 3);
    text-decoration: none;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  }
  nav a:hover {
    color: #00ff3c;
    background-color: #0000001a;
    transform: scale(1.05);
  }
  nav a:active {
    background-color: #0000001a;
    transform: scale(1.1);
    outline: none;
  }
  
  nav i {
    margin-right: 5px;
  }
  
  nav li {
    margin-left: 10px;
  }

  section {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
  }

  
  section h1,
  section h2 {
    display: flex;
    align-items: center;
  }
  
  section i {
    margin-right: 10px;
  }
  
  .card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
  }
  .card h3 {
    display: flex;
    align-items: center;
  }
  
  .card h3 i {
    margin-right: 10px;
  }
  
  
  /* -----------------------------------HOME-------------------------------------------------*/
  #home{
    background: url('https://wallpaper.dog/large/11043890.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 25px ;
  }
  #home h1{
    font-size: 40px;
    color: rgb(0, 255, 26);
  }
  .btn {
    display: inline-block;
    background-color: #02180c;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px 0 greenyellow;
    font-size: 18px;
    font-weight: bolder;
  }
  
  .btn:hover {
    background-color: #15ff00c6;
    color: black;
    font-size: 18px;
    font-weight: bolder;
  }

/*---------------------------Interships----------------------------------*/

  #internships{
    background: url('https://e1.pxfuel.com/desktop-wallpaper/947/386/desktop-wallpaper-7-blue-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
  }
  #internships .card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    color: black;
    font-weight: 520;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    box-shadow: 0 4px 8px 0 blue;
  }  
  .card:hover {
    transform: scale(1.10);
  }
  #internships h3{
    color: rgb(0, 0, 84);
    font-size: 20px;
    font-weight: bolder;
  }
  
.card img {
  height: auto;
  box-shadow: 0 1px 4px blue;
  margin-bottom: 10px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
#internships .btn {
  display: inline-block;
  background-color: #ffffff;
  color: #04003d;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 4px 0 rgb(50, 47, 255);
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}

#internships .btn:hover {
  background-color: #1d1d7c;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bolder;
}

/*---------------------------courses----------------------------------*/
  #courses{
    background: url('https://i.pinimg.com/736x/d6/b9/01/d6b901d7a1bb431e0b6101c595c81a06.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #courses .card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 15px;
    width: 30%;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    color: black;
    font-weight: 500;
    font-size: 14px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    box-shadow: 0 4px 8px 0 blue;
  }  
  .card:hover {
    transform: scale(1.10);
  }
  #courses h3{
    color: rgb(0, 0, 84);
    font-size: 16px;
    font-weight: 700;
  }
  

  /*---------------------------contact----------------------------------*/
  #contact{
    background: url('https://wallpaper.dog/large/11043890.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    background-color: #000000a8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0, 255, 68);
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000a8;
    transition: 0.3s;
    outline: none;
    box-shadow: 0 2px 4px rgb(0, 255, 68);
  }
  
  input:focus,
  textarea:focus {
    background-color: #000000;
    box-shadow: 0 3px 5px rgb(0, 255, 42);
    transform: scale(1.05);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    color: white;
  }
  
  button {
    color: #fff;
    background-color: #00ff3cd4;
    padding: 10px 20px;
    box-shadow: 0 3px 5px rgb(17, 255, 0);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    width: auto;
    margin: auto;
    transition: 0.3s;
    display: block;
  }
  
  button:hover {
    background-color: #00ff3c;
    box-shadow: 0 3px 5px rgb(0, 255, 42);
    transform: scale(1.05);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  
  /* -------------------footer----------------------------*/
  footer {
    background-color: #000000d7;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #ccc;
  }
  .toggle-button {
    display: none;
  }
/* -----------------------SMALL SCREENS-------------------------*/




 @media screen and (max-width: 768px) {
  .toggle-button {
    display: block;
    order: 2; 
    position: absolute;
    right: 60px;
    top: 0;
  }
  .navbar-brand {
    display: block;
    order: 1; 
  }

  nav ul {
    display: none;
  }

  
  #home{
    background: url('https://wallpaper.dog/large/11043890.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 10px ;
  }
  header {
    background-color: #000000d2;
    color: #fff;
    padding: 20px;
    position:absolute;
    top: 0;
    left: 0;
    width: 90%;
    z-index: 1;
    box-shadow: 0 1px 3px 0 rgba(243, 255, 243, 0.875);
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  
  #home h1{
    font-size: 14px;
    color: rgb(0, 255, 26);
  }
  .btn {
    display: inline-block;
    background-color: #02180c;
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px 0 greenyellow;
    font-size: 10px;
    font-weight: bolder;
  }
  
  .btn:hover {
    background-color: #15ff00c6;
    color: black;
    font-size: 10px;
    font-weight: bolder;
  }
  #internships h2{
    font-size: 20px;
  }
  
  #internships .card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    color: black;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    box-shadow: 0 4px 8px 0 blue;
    font-size: 10px;
    margin-left: 50px;
  }  
 
  #internships h3{
    color: rgb(0, 0, 84);
    font-size: 10px;
    font-weight: bolder;
  }
  
.card img {
  height: auto;
  box-shadow: 0 1px 4px blue;
  margin-bottom: 10px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
#internships .btn {
  display: inline-block;
  background-color: #ffffff;
  color: #04003d;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 4px 0 rgb(50, 47, 255);
  font-size: 10px;
  font-weight: bolder;
  margin-bottom: 10px;
}

#internships .btn:hover {
  background-color: #1d1d7c;
  color: rgb(255, 255, 255);
  font-size: 8px;
  font-weight: bolder;
}

.navbar-brand,
nav a {
  font-size: 10px; 
}

.navbar-brand {
  display: none;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10px;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}
nav a:hover {
  color: #00ff3c;
  background-color: #0000001a;
  transform: scale(1.05);
}
nav a:active {
  background-color: #0000001a;
  transform: scale(1.1);
  outline: none;
}

nav i {
  margin-right: 5px;
}

nav li {
  margin-left: 10px;
}

section {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}


section h1,
section h2 {
  display: flex;
  align-items: center;
}

section i {
  margin-right: 10px;
}
.card h3 {
  display: flex;
  align-items: center;
}
#courses .card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px ;
  width: 80%;
  height: 30%;
  margin: 20px;
  margin-left: 40px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  color: black;
  font-weight: 50;
  font-size: 13px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  box-shadow: 0 4px 8px 0 blue;
}  
.card:hover {
  transform: scale(1.10);
}
#courses h3{
  color: rgb(0, 0, 84);
  font-size: 14px;
  font-weight: 50;
}
#courses h2{
  font-size: 12px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 70%;
  background-color: #000000a8;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0, 255, 68);
}

input,
textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  width: 80%;
  border-radius: 5px;
  background-color: #000000a8;
  transition: 0.3s;
  outline: none;
  box-shadow: 0 2px 4px rgb(0, 255, 68);
  margin-left: 25px;
}

input:focus,
textarea:focus {
  background-color: #000000;
  box-shadow: 0 3px 5px rgb(0, 255, 42);
  transform: scale(1.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  color: white;
}

button {
  color: #fff;
  background-color: #00ff3cd4;
  padding: 10px 20px;
  box-shadow: 0 3px 5px rgb(17, 255, 0);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  width: auto;
  margin: auto;
  transition: 0.3s;
  display: block;
}

button:hover {
  background-color: #00ff3c;
  box-shadow: 0 3px 5px rgb(0, 255, 42);
  transform: scale(1.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}



}